/* @import url('https://fonts.googleapis.com/............'); */


* { 
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 1.5;
    color: #3a3a3a;
}

h2 {
    font-size: 200%;
}

.container {
    margin: 10px 10%;
    padding: 10px 20px;

}

/* heading and logo */

header {
    background-color: #97afa3;
    height: 120px;
}


#logo {
    float: left;
    font-size: 420%;
    margin: 16px 0 auto 80px;
    color: #fafafa;
}

#nav-bar {
    background-color: white;

    float: right;
    font-size: 110%;
    letter-spacing: 3px;
    color: black;
    border: solid black 3px;
    padding: 10px;

    position: relative;
    top: 95px;
    right: 50px;
}


#nav-bar li {
    float: right;
    list-style-type: none;
    margin-right: 40px;
}

#nav-bar li:first-child {
    margin-right: 0;
}


#nav-bar a {
    text-decoration: none;
    text-transform: uppercase;
    color: inherit;
}

#nav-bar a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}


/* introduction me section: img and text */

#introduction {
    height: 600px;
    width: 100%;
    z-index: -1;

    position: relative;
}

#introduction-image {
    height: 500px;
    width: 100%;
    background: url('../images/image-introduction.jpg') no-repeat center center;
    
    /* animates zoom effect on loading page */
    animation-name: hero-zoom;
    animation-duration: 3s;
    position: relative;
    animation-timing-function: ease;
    
    top: 40px;
    z-index: -1;

}

 /* creates the level of zoom fo hero image */

@keyframes hero-zoom {
    from {top: 120px;}
    to {top: 40;}
}

#cover-text {
    font-size: 140%;
    font-weight: 900;
    font-family: Lato, sans-serif;
    letter-spacing: 2px;
    line-height: 1.5;
    color: white;

    background-color: rgba(151, 175, 163, .7);
    width: 300;
    height: auto;
    text-align: center;

    padding: 10px;

    position: absolute;
    bottom: 220px;
    right: 40px;
}

/* about me section */

#about-me-section {
    height: 600px;
}



#left-about-me {
    float: left;
    width: 50%;
    box-sizing: border-box;
    text-align: justify;
    margin-top: 40px;
}


#right-studies {
    float: right;
    width: 50%;
    box-sizing: border-box;
    padding: 0 20px 0 100px;
    margin-top: 40px;

}


#left-about-me > h2, #right-studies > h2 {
    display: inline-block;
    border-bottom: 2px solid black;
}

#left-about-me p {
    margin-top: 40px;
}

.primary-list {
    list-style-type: none;
    margin-top: 40px;

}

.primary-list > li {
    margin-bottom: 20px;
}

.secondary-list {
    margin-top: 10px;

}
.secondary-list > li {
    margin-left: 20px;
}

.small {
    color: rgb(48, 47, 47);
}

.primary-list > li:first-child:before {    
    font-family: 'FontAwesome';
    content: '\f19d';
    margin:0 5px 0 -15px;
}

.primary-list > li:last-child:before {    
    font-family: 'FontAwesome';
    content: '\f121';
    margin:0 5px 0 -15px;
}

hr {
    border-top: 1px solid #3a3a3a;
    width: 70%;
    margin: 50px auto;
}


/* work experience section */

#work-experience-section {
    height: 600px;
    background-color: #97afa3;
    line-height: 1.6;
}

#work-experience-image {
    height: 100%;
    width: 40%;
    background: url('../images/work-experience.jpg') no-repeat center center;
    background-size: cover;
    
    position: relative;
    box-sizing: border-box;
    float: left;
} 

#work-experience-title {
    display: inline-block;
    border-bottom: 2px solid;
    position: absolute;
    top: 100px;
    left: 20%;
    color: white;
} 

#right-work-experience {
    width: 60%;
    float: right;
    height: 600px;

}

#work-experience-text {
    padding: 20px 20px;
    overflow: auto;
    /* height: auto; */
    height: calc(100% - 40px);
    text-align: justify;
}


#work-experience-text ul {
    list-style-type: none;
    margin-top: 10px;
}
#work-experience-text li {
    margin-bottom: 30px;
}
#work-experience-text li p u {
    color: white;
}
#work-experience-text li p:first-child b {
    font-size: 120%;
}
#work-experience-text li a {
    font-style: italic;
}
#work-experience-text li p:first-child {
    margin-bottom: 10px;
}



/* abilities section */

#abilities-section {
    height: 600px;
}

#ability-box {
    margin: 40px auto;
}

#left-ability-section {
    float: left;
    width: calc(50% - 40px);
    box-sizing: border-box;
    margin-right: 20px;
}

#right-ability-section {
    float: right;
    width: calc(50% - 40px);
    box-sizing: border-box;
    margin-right: 20px;
}

.ability-card {
    width: 100%;
    display: inline-block;
    border: 2px solid black;
    border-radius: 25px;
    margin: 10px;
    padding: 15px;
}

.ability-card ul {
    /* list-style-type: none; */
    list-style-type: circle;
    margin-left: 30px;
    font-size: 120%;
}

.ability-card li {
    line-height: 1.5;
}

.ability-card h3 {
    text-align: center;
    margin: 15px;
    font-size: 140%;
}


/* footer */

footer {
    height: 200px;
    width: 100%;
    background-color: #97afa3;
    margin-top: 50px;
    position: relative;
    bottom: 0;
}

.social-footer {
    float: left;
    width: 50%;
    box-sizing: border-box;
    text-align: center;
}

footer a {
    text-decoration: none;
}

.social-footer > ul > li {
    display: inline;
}

.social-footer > ul > li > a > i {
    color: white;
    font-size: 200%;
    margin: 1%;
    padding: 10% 5%;
 }


.contacts-footer {
    float: right;
    width: 50%;
    box-sizing: border-box;
    list-style-type: none;
    text-align: center;
}

.contacts-footer ul {
    margin: 5%;
}
.contacts-footer li {
    list-style-type: none;
    margin: 1%;
    padding: 2% 5%;
}

.contacts-footer a, .contacts-footer span {
    color: white;
    font-size: 150%;

}

@media screen and (max-width: 1200px) { }
@media screen and (max-width: 950px) { 
    #logo {
        clear: both;
        font-size: 420%;
        margin: 0 auto;
        width: 100%;
        text-align: center;
    }

    #introduction, #about-me-section, #work-experience-section, #abilities-section {
        height: auto;
    }

    #cover-text {
        position: absolute;
        bottom: 5px;
        right: 0;
    }
    #left-about-me, #right-studies, #left-ability-section, #right-ability-section {
        width: 100%;
        float: left;
        padding: 0;
    }
    #work-experience-image {
        display: none;
    } 

    
    #right-work-experience {
        width: 100%;
        float: left;
        height: auto;
        background-color: #97afa3;

    }

    .ability-card {
        margin: 5px 0;
    }
    
    #left-ability-section, #right-ability-section {
        float: left;
        width: 100%;
        margin-right: 0;
    }

    .social-footer, .contacts-footer {
        float: left;
        width: 100%;
    }
    
    .social-footer > ul > li > a > i {
        font-size: 150%;
        margin: 1%;
        padding: 0;
    }
    
    .contacts-footer ul {
        margin: 1%;
    }
    .contacts-footer li {
        margin: 1%;
        padding: 0;
    }
  

}
@media screen and (max-width: 900px) { 
    #nav-bar {
        position: relative;
        top: 100px;
        right: 0;

    }
    #nav-bar li {
        float: none;
        margin-right: 0;
    }
    #nav-bar { display: flex; flex-direction: column; }
    #nav-bar li:nth-child(1) { order: 4; }
    #nav-bar li:nth-child(2) { order: 3; }
    #nav-bar li:nth-child(3) { order: 2; }
    #nav-bar li:nth-child(4) { order: 1; }
}


