/* @import url('https://fonts.googleapis.com/............'); */


* { 
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 1.5;
    color: #3a3a3a;
}

h2 {
    font-size: 200%;
}

.container {
    margin: 10px 10%;
    padding: 10px 20px;

}

/* heading and logo */

header {
    background-color: #97afa3;
    height: 120px;
}


#logo {
    float: left;
    font-size: 420%;
    margin: 16px 0 auto 80px;
    color: #fafafa;
}

#nav-bar {
    background-color: white;

    float: right;
    font-size: 110%;
    letter-spacing: 3px;
    color: black;
    border: solid black 3px;
    padding: 10px;

    position: relative;
    top: 95px;
    right: 50px;
}


#nav-bar li {
    float: right;
    list-style-type: none;
    margin-right: 40px;
}

#nav-bar li:first-child {
    margin-right: 0;
}


#nav-bar a {
    text-decoration: none;
    text-transform: uppercase;
    color: inherit;
}

#nav-bar a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}


/* introduction me section: img and text */

#introduction {
    height: 600px;
    width: 100%;
    z-index: -1;

    position: relative;
}

#introduction-image {
    height: 500px;
    width: 100%;
    background: url('../images/image-introduction.jpg') no-repeat center center;
    
    /* animates zoom effect on loading page */
    animation-name: hero-zoom;
    animation-duration: 3s;
    position: relative;
    animation-timing-function: ease;
    
    top: 40px;
    z-index: -1;

}

 /* creates the level of zoom fo hero image */

@keyframes hero-zoom {
    from {top: 120px;}
    to {top: 40;}
}

#cover-text {
    font-size: 140%;
    font-weight: 900;
    font-family: Lato, sans-serif;
    letter-spacing: 2px;
    line-height: 1.5;
    color: white;

    background-color: rgba(151, 175, 163, .7);
    width: 300;
    height: 100px;
    text-align: center;

    padding: 10px;

    position: absolute;
    bottom: 220px;
    right: 40px;
}

/* about me section */

#about-me-section {
    height: 600px;
}



#left-about-me {
    float: left;
    width: 50%;
    box-sizing: border-box;
    text-align: justify;
    margin-top: 40px;
}


#right-studies {
    float: right;
    width: 50%;
    box-sizing: border-box;
    padding: 0 20px 0 100px;
    margin-top: 40px;

}


#left-about-me > h2, #right-studies > h2 {
    display: inline-block;
    border-bottom: 2px solid black;
}

#left-about-me p {
    margin-top: 40px;
}

.primary-list {
    list-style-type: none;
    margin-top: 40px;

}

.primary-list > li {
    margin-bottom: 20px;
}

.secondary-list {
    margin-top: 10px;

}
.secondary-list > li {
    margin-left: 20px;
}

.small {
    color: rgb(48, 47, 47);
}

.primary-list > li:first-child:before {    
    font-family: 'FontAwesome';
    content: '\f19d';
    margin:0 5px 0 -15px;
}

.primary-list > li:last-child:before {    
    font-family: 'FontAwesome';
    content: '\f121';
    margin:0 5px 0 -15px;
}

hr {
    border-top: 1px solid #3a3a3a;
    width: 70%;
    margin: 30px auto;
}


/* work experience section */

#work-experience-section {
    height: 600px;
    background-color: #97afa3;
    line-height: 1.6;

}

 #work-experience-image {
    height: 100%;
    width: 40%;
    background: url('../images/work-experience.jpg') no-repeat center center;
    background-size: cover;
    
    position: relative;
    box-sizing: border-box;
    float: left;
} 

#work-experience-title {
    display: inline-block;
    border-bottom: 2px solid;
    position: absolute;
    top: 100px;
    left: 20%;
    color: white;
} 

#right-work-experience {
    width: 60%;
    float: right;
}

#work-experience-text {
    padding: 40px 20px;
}


#work-experience-text ul {
    list-style-type: none;
    margin-top: 10px;

}
#work-experience-text li {
    margin-bottom: 50px;
}
#work-experience-text  li  p:first-child {
    margin-bottom: 10px;
}



/* abilities section */

#abilities-section {
    height: 600px;
}

/* footer */

footer {
    height: 200px;
    background-color: #97afa3;
}